.fullscreen {
  height: 100vh;
  width: 100vw;
}

.bgColor {
  background-color: #4D85BD;
}

.centerObject {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 7vw;
  font-family: Calibri;
  margin: 10px;
}